*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0c457a;
}

.navbar ul{
    font-size: 20px;
    list-style: none;
    text-align: center;
    background-color: #F6C616;
    overflow: hidden;
    padding-left: 32.5%;
}



.navbar a{
    color: #222;
    text-decoration: none;
    padding: 10px;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar a:hover{
    background-color: #ad8c13;
    transition: 0.25s;
}

.navbar li{
    float: left;
}

header{
    background-color: #F6C616;
    display: block;
    text-align: center;
    font-size: 30px;
}

.continer{
    /* gör grid layout*/
}