*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #0a75bc;
    height: 100%;
}

.navbar ul{
    display: block;
    font-size: 20px;
    list-style: none;
    text-align: center;
    background-color: #fce029;
    overflow: hidden;
    padding-left: 32.5%;
}



.navbar a{
    color: #222;
    text-decoration: none;
    padding: 10px;
    display: block;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar a:hover{
    background-color: #00000033;
    transition: 0.25s;
}

.navbar li{
    float: left;
}

header{
    background-color: #fce029;
    display: block;
    text-align: center;
    font-size: 30px;
}

.container{ 

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px,auto);

    grid-template-areas: 
    "lore lore lore img"
    "lore lore lore ."
    "appearance appearance appearance appearance";
}

.lore{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    grid-area: lore;
}

.lore div{
    padding: 5px;
    background-color: #ffffff22;
    border-radius: 10px;
    text-shadow: 5px 3px 9px #fce02969;
    border: #00000000 solid 2px;
}

.lore div:hover{
    border: #fce029 solid 2px;
}

.lore div h1{
    font-size: 50px;
    padding-bottom: 10px;
}

.lore div h2{
    font-size: 40px;
    padding-bottom: 10px;
}

.lore div h3{
    font-size: 30px;
    padding-bottom: 5px;
}

.lore div p{
    font-size: 20px;
    padding-bottom: 5px;
}

.appearance{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    grid-area: appearance;
}

.appearance div{
    padding: 5px;
    background-color: #ffffff22;
    border-radius: 10px;
    text-shadow: 5px 3px 9px #fce02969;
    border: #00000000 solid 2px;
}

.appearance div:hover{
    border: #fce029 solid 2px;
}

.appearance div h1{
    font-size: 50px;
    padding-bottom: 10px;
}

.appearance div h2{
    font-size: 30px;
    padding-bottom: 5px;
}

.appearance div p{
    font-size: 20px;
    padding-bottom: 5px;
}


.img{
    margin-top: 5px;
    margin-right: 5px;
    grid-area: img;
    background-color: black;
    border: #fce029 groove 10px;
    border-radius: 10px;
}

.img:hover{
    border: 10px ridge #fce029;
}

img{
    width: 100%;
    height: 100%;
}

#Mel{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.MinionsImg{
    height: 400px;
}

.onclick{
    position: fixed;
    left: 5px;
    top: 5px;
    display: block;
    background-color: #000000;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
}

#onclick{
    visibility: visible;
    z-index: 1;
}

#offclick{
    visibility: hidden;
    z-index: 0;
}

.surprise{
    position: absolute;
    right: 7%;
    top: 60%;
    border: #000000 solid 2px;
    padding: 5px;
    background-color: #fce02975;
    border-radius: 10px;
}